
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <aside class="col-sm-2">
            left side
        </aside>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="col-sm-8">
            <header class="header">
                <h1>Smashing HTML5!</h1>
                <h2>
                    HTML5 in the year <s>2022</s> 2009
                </h2>
            </header>
            
            
        <div class="container">
        <div class="row">
            <section class="col-sm-8">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">home</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
               </section>
        </div>
        </div>

            <div class="card">
                <div class="featured clearfix">
                    <div class="img float-right">
                        <img src="~/Images/sm-logo.gif" />
                    </div>
                    <h3>Featured Article</h3>
                    <h4>
                        <a class="link-highlight" href="#">HTML5 in Smashing Magazine!</a>
                    </h4>
                    <p>
                        Discover how to use Graceful Degradation and Progressive<br />
                        Enhancement techniques to achieve an outstanding, cross-<br />
                        browser <a class="link-highlight" href="#">HTML5</a> and <a class="link-highlight" href="#">CSS3</a> website today!
                    </p>
                </div>
            </div>

            center

            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="article clearfix">
                            <div class="author">
                                <p class="underline">10th October 2005</p>
                                <p>
                                    By <a href="#">Enrique Ramirez</a>
                                </p>
                            </div>
                            <div class="article-summary float-right">
                                <h4 title="Permalink to this POST TITLE">This be the title</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae
                                    libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit nec et leo. Ut ut
                                    malesuada tellus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="article clearfix">
                            <div class="author">
                                <p class="underline">10th October 2005</p>
                                <p>
                                    By <a href="#">Enrique Ramirez</a>
                                </p>
                            </div>
                            <div class="article-summary float-right">
                                <h4 title="Permalink to this POST TITLE">This be the title</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae
                                    libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit nec et leo. Ut ut
                                    malesuada tellus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            resource links



            <div class="resource-links clearfix">
                <div class="blogroll-list float-right">
                    <h4>blogroll</h4>
                    <div class="row">
                        <div class="col-sm-3">HTML5 Doctor</div>
                        <div class="col-sm-4">HTML5 Spec (working draft)</div>
                        <div class="col-sm-3">Smashing Magazine</div>
                        <div class="col-md-3">W3C</div>
                        <div class="col-md-4">Wordpress</div>
                        <div class="col-md-3">Wikipedia</div>
                        <div class="col-sm-3">HTML5 Doctor</div>
                        <div class="col-sm-4">HTML5 Spec (working draft)</div>
                        <div class="col-sm-4">Smashing Magazine</div>
                        <div class="col-md-3">W3C</div>
                        <div class="col-md-4">Wordpress</div>
                        <div class="col-md-4">Wikipedia</div>
                        <div class="col-sm-3">HTML5 Doctor</div>
                        <div class="col-sm-4">HTML5 Spec (working draft)</div>
                        <div class="col-sm-4">Smashing Magazine</div>
                        <div class="col-md-3">W3C</div>
                        <div class="col-md-4">Wordpress</div>
                        <div class="col-md-4">Wikipedia</div>
                    </div>
                </div>
                <div class="social-list">
                    <h4>social</h4>
                    <div class="row">
                        <div class="col-sm-1">delicious</div>
                        <div class="col-sm-1">digg</div>
                        <div class="col-sm-1">facebook</div>
                        <div class="col-md-1">last.fm</div>
                        <div class="col-md-1">rss</div>
                        <div class="col-md-1">twitter</div>
                    </div>
                </div>
            </div>


            Smashing Magazine
            <div class="card">
                <div class="summary">
                    <h4>Smashing Magazine</h4>
                    <h5>Amazing Magazine</h5>
                </div>
                <div class="summary-image">
                    <img src="../Content/Images/avatar.gif" />
                </div>
                <p>
                    Smashing Magazine is a website and blog that offers resources and advice to web developers
                    and web designers. It was founded by Sven Lennartz and Vitaly Friedman.
                </p>
            </div>
            <div>
                <footer class="text-right">2005-2009 <a href="#">Smashing Magazine</a>.</footer>
            </div>

        </section>
    </div>
</div>
<div class="container">
    <div class="row">
        <aside class="col-sm-2">
            left side
        </aside>
    </div>
</div>
