<!DOCTYPE html>
<html>
<head>
    
</head>

<body>
    <div class="container">
        <div class="row">
            @*<div class="col-sm-3">blank space</div>*@
            <div class="col-lg-8">
                @*<div class="col-sm-3">blank space</div>*@

                <div class="container"></div>
                <h1>Smashing HTML5!</h1>
                <h4>HTML5 in the year <s>2022</s> 2009</h4>

                @*navbar..... bootstrap reformatted?*@
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">home</a></li>
                                <li><a href="#">portfolio</a></li>
                                <li><a href="#">blog</a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="row">
                    <article class="featured">
                        <h3>Featured Article</h3>
                        <h4>
                            <a class="link-highlight" href="#">HTML5 in Smashing Magazine!</a>
                        </h4>
                        <p>
                            Discover how to use Graceful Degradation and Progressive<br />
                            Enhancement techniques to achieve an outstanding, cross-<br />
                            browser <a class="link-highlight" href="#">HTML5</a> and <a class="link-highlight" href="#">CSS3</a> website today!
                        </p>
                    </article>
                    <img class="featured-img" src="../Content/Images/sm-logo.gif" />
                </div>

                Center area
                <div class="card">
                    <article class="story">
                        <div class="author">
                            <p class="underline">10th October 2005</p>
                            <p>
                                By <a href="#">Enrique Ramirez</a>
                            </p>
                        </div>
                        <div class="post">
                            <h4 title="Permalink to this POST TITLE">This be the title</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae
                                libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit nec et leo. Ut ut
                                malesuada tellus.
                            </p>
                        </div>
                    </article>
                    <article class="story">
                        <div class="author">
                            <p class="underline">10th October 2005</p>
                            <p>
                                By <a href="#">Enrique Ramirez</a>
                            </p>
                        </div>
                        <div class="post">
                            <h4 title="Permalink to this POST TITLE">This be the title</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae
                                libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit nec et leo. Ut ut
                                malesuada tellus.
                            </p>
                        </div>
                    </article>
                    <article class="story">
                        <div class="author">
                            <p class="underline">10th October 2005</p>
                            <p>
                                By <a href="#">Enrique Ramirez</a>
                            </p>
                        </div>
                        <div class="post">
                            <h4 title="Permalink to this POST TITLE">This be the title</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae
                                libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit nec et leo. Ut ut
                                malesuada tellus.
                            </p>
                        </div>
                    </article>
                </div>

                resource links
                <div class="resource-links">
                    <div class="blogroll-list">
                        <h4>blogroll</h4>
                        <ul>
                            <li><a class="link-highlight" href="#">HTML5 Doctor</a></li>
                            <li><a class="link-highlight" href="#">HTML5 Spec (working draft)</a></li>
                            <li><a class="link-highlight" href="#">Smashing Magazine</a></li>
                            <li><a class="link-highlight" href="#">W3C</a></li>
                            <li><a class="link-highlight" href="#">Wordpress</a></li>
                            <li><a class="link-highlight" href="#">Wikipedia</a></li>
                            <li><a class="link-highlight" href="#">HTML5 Doctor</a></li>
                            <li><a class="link-highlight" href="#">HTML5 Spec (working draft)</a></li>
                            <li><a class="link-highlight" href="#">Smashing Magazine</a></li>
                            <li><a class="link-highlight" href="#">W3C</a></li>
                            <li><a class="link-highlight" href="#">Wordpress</a></li>
                            <li><a class="link-highlight" href="#">Wikipedia</a></li>
                            <li><a class="link-highlight" href="#">HTML5 Doctor</a></li>
                            <li><a class="link-highlight" href="#">HTML5 Spec (working draft)</a></li>
                            <li><a class="link-highlight" href="#">Smashing Magazine</a></li>
                            <li><a class="link-highlight" href="#">W3C</a></li>
                            <li><a class="link-highlight" href="#">Wordpress</a></li>
                            <li><a class="link-highlight" href="#">Wikipedia</a></li>
                        </ul>
                    </div>

                    <div class="social-list">
                        <h4>social</h4>
                        <ul>
                            <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/delicious.png"> delicious</a></li>
                            <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/digg.png"> digg</a></li>
                            <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/facebook.png"> facebook</a></li>
                            <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/lastfm.png">last.fm</a></li>
                            <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/rss.png" />rss</a></li>
                            <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/twitter.png">twitter</a></li>
                        </ul>
                    </div>
                </div>

                Smashing Magazine
                <div class="card">
                    <div class="summary">
                        <h4>Smashing Magazine</h4>
                        <h5>Amazing Magazine</h5>
                    </div>
                    <div class="summary-image">
                        <img src="../Content/Images/avatar.gif" />
                    </div>
                    <p>
                        Smashing Magazine is a website and blog that offers resources and advice to web developers
                        and web designers. It was founded by Sven Lennartz and Vitaly Friedman.
                    </p>
                </div>
                <div>
                    <footer>2005-2009 <a href="#">Smashing Magazine</a>.</footer>
                </div>
            </div>
        </div>
        center space
    </div>
</body>
</html>
