
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <aside class="col-sm-2">
            @*left side*@
        </aside>
        @*header*@
        <div class="row">
            <section class="col-sm-8">
                <div class="container">
                    <header>
                        <h1>Smashing HTML5!</h1>
                        <h2>
                            HTML5 in the year <s>2022</s> 2009
                        </h2>
                    </header>
                </div>
                @*navbar..... bootstrap reformatted?*@
                <nav class="navbar navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <ul class="nav navbar-nav">
                                <li><a class="active" href="#">home</a></li>
                                <li><a href="#">portfolio</a></li>
                                <li><a href="#">blog</a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                @*featured*@
                <div class="container">
                    <div class="row">
                        <div class="card rounded">
                            <div class="featured clearfix">
                                <div class="img float-right">
                                    <img src="~/Images/sm-logo.gif" />
                                </div>
                                <h3>Featured Article</h3>
                                <h4><a class="link-highlight" href="#">HTML5 in Smashing Magazine!</a></h4>
                                <p>
                                    Discover how to use Graceful Degradation and Progressive<br />
                                    Enhancement techniques to achieve an outstanding, cross-<br />
                                    browser <a class="link-highlight" href="#">HTML5</a> and <a class="link-highlight" href="#">CSS3</a> website today!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*center*@

                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="article clearfix">
                                <div class="article-summary float-right">
                                    <h4 title="Permalink to this POST TITLE">This be the title</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae
                                        libero iaculis elementum. Nullam et justo <a href="#"><u>non sapien</u></a> dapibus blandit nec et leo. Ut ut
                                        malesuada tellus.
                                    </p>
                                </div>
                                <div class="author">
                                    <p>10th October 2005</p>
                                    <p>
                                        By <a href="#"><u>Enrique Ramirez</u></a>
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="article clearfix">
                                <div class="article-summary float-right">
                                    <h4 title="Permalink to this POST TITLE">This be the title</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae
                                        libero iaculis elementum. Nullam et justo <a href="#"><u>non sapien</u></a> dapibus blandit nec et leo. Ut ut
                                        malesuada tellus.
                                    </p>

                                </div>
                                <div class="author">
                                    <p>10th October 2005</p>
                                    <p>
                                        By <a href="#"><u>Enrique Ramirez</u></a>
                                    </p>
                                </div>
                            </div>
                            <hr />
                            <div class="article clearfix">
                                <div class="article-summary float-right">
                                    <h4 title="Permalink to this POST TITLE">This be the title</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae
                                        libero iaculis elementum. Nullam et justo <a href="#"><u>non sapien</u></a> dapibus blandit nec et leo. Ut ut
                                        malesuada tellus.
                                    </p>
                                </div>

                                <div class="author">
                                    <p>10th October 2005</p>
                                    <p>
                                        By <a href="#"><u>Enrique Ramirez</u></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                resource links

                <div class="container-fluid">
                    <div class="row">
                        <div class="resources">
                            <div class="resource-links clearfix ">
                                
                                <div class="blogroll-list ">
                                    <h4>blogroll</h4>
                                    <ul class="list-unstyled float-right">
                                        <li><a class="link-highlight" href="#">HTML5 Doctor</a></li>
                                        <li><a class="link-highlight" href="#">HTML5 Spec (working draft)</a></li>
                                        <li><a class="link-highlight" href="#">Smashing Magazine</a></li>
                                        <li><a class="link-highlight" href="#">W3C</a></li>
                                        <li><a class="link-highlight" href="#">Wordpress</a></li>
                                        <li><a class="link-highlight" href="#">Wikipedia</a></li>
                                        <li><a class="link-highlight" href="#">HTML5 Doctor</a></li>
                                        <li><a class="link-highlight" href="#">HTML5 Spec (working draft)</a></li>
                                        <li><a class="link-highlight" href="#">Smashing Magazine</a></li>
                                        <li><a class="link-highlight" href="#">W3C</a></li>
                                        <li><a class="link-highlight" href="#">Wordpress</a></li>
                                        <li><a class="link-highlight" href="#">Wikipedia</a></li>
                                        <li><a class="link-highlight" href="#">HTML5 Doctor</a></li>
                                        <li><a class="link-highlight" href="#">HTML5 Spec (working draft)</a></li>
                                        <li><a class="link-highlight" href="#">Smashing Magazine</a></li>
                                        <li><a class="link-highlight" href="#">W3C</a></li>
                                        <li><a class="link-highlight" href="#">Wordpress</a></li>
                                        <li><a class="link-highlight" href="#">Wikipedia</a></li>
                                    </ul>
                                    </div>
                                <div class="social-list float-right">
                                    <h4>social</h4>
                                    <ul class="list-unstyled">
                                        <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/delicious.png"> delicious</a></li>
                                        <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/digg.png"> digg</a></li>
                                        <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/facebook.png"> facebook</a></li>
                                        <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/lastfm.png">last.fm</a></li>
                                        <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/rss.png" />rss</a></li>
                                        <li><a class="link-highlight" href="#"><img alt="" src="../Content/Images/twitter.png">twitter</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>







                Smashing Magazine
                <div class="card">
                    <div class="summary clearfix">
                        <h4>Smashing Magazine</h4>
                        <h5>Amazing Magazine</h5>
                    </div>
                    <div class="summary-image clearfix">
                        <div class="img float-right">
                            <img src="~/Images/avatar.gif" />
                        </div>
                        <p class="float-right">
                            Smashing Magazine is a website and blog that offers resources and advice to web developers
                            and web designers. It was founded by Sven Lennartz and Vitaly Friedman.
                        </p>
                    </div>
                </div>
                <div>
                    <footer>2005-2009 <a href="#">Smashing Magazine</a>.</footer>
                </div>





            </section>
        </div>
        <aside class="col-sm-2">
            @*right side*@
        </aside>
    </div>
</div>

